<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Edit Item</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()" color="light">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list lines="full">
    <ion-item>
      <ion-label position="floating" [innerHTML]="'Title'"></ion-label>
      <ion-input type="text" [(ngModel)]="title" aria-label="Title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" [innerHTML]="'Description'"></ion-label>
      <ion-input type="text" [(ngModel)]="description" aria-label="Description"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="block" color="secondary" (click)="editItem()" class="ion-margin-top">Save</ion-button>
</ion-content>