.title {
    font-size: 24px;
  }
  
.item {
  cursor: pointer;
}

.item-text {
  font-size: 18px;
}

ion-input {
  margin-bottom: 16px;
}

ion-card {
  margin: 16px;
}

ion-card-content {
  font-size: 18px;
}