<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="title">
      TO DO!
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addItem()">
        <ion-icon name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="full">
    <ion-item *ngFor="let item of items" (click)="viewItem(item)" class="item">
      <ion-label class="item-text">{{ item.title }}</ion-label>
    </ion-item>
  </ion-list>  
</ion-content>