<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="title">
      TO DO!
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addItem()">
        <ion-icon name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="full">
    <ion-item *ngFor="let item of items" (click)="viewItem(item.id)" class="item">
      <ion-label class="item-text">{{ item.title }}</ion-label>
      <ion-icon name="pencil-outline" color="white" slot="end" (click)="editItem(item.id); $event.stopPropagation()"></ion-icon>
      <ion-icon name="trash-outline" color="white" slot="end" (click)="removeItem(item.id)"></ion-icon>
    </ion-item>
  </ion-list>  
</ion-content>